@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*general*/ 

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 7rem;
    height: auto;
}

h2, p, label {
    color: #5E6472;
    font-family: "Open-sans", sans-serif;
}

/*navbar*/

nav {
    background-color: #FAF3DD;
    height: 4rem;
}

.navbar {
    padding-left: 10rem;
    padding-right: 10rem;
}

.nav-item {
    color: #5E6472;
    font-family: "Open-sans", sans-serif;
}

.nav-item:hover {
    color: #323438; 
}

/* hero*/ 

.hero-container {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
}

.hero-img {
    position: absolute;
    max-height: 120%;
    min-width: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

/* About us*/

.about-us {
    margin-top: 10rem;
}

.about-us-text {
    margin: auto;
}

.about-us-container {
    background-color: #AED9E0;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.about-us-img {
    position: absolute;
    height: 105%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* The ice cream */ 

.ice-cream {
    margin-top: 10rem;
}

.ice-cream-container {
    background-color: #FAF3DD;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.ice-cream-text {
    margin: auto;
}

/* Contact */ 

label {
    color: #5E6472;
}

.form-button {
    background-color: #FFA69E;
    color: #5E6472;
    font-family: "Open-sans", sans-serif;
    font-weight: 600;
}