@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

/*general*/
* {
  margin: 0;
  padding: 0;
}

/* this was found on stack overflow to fix the issue with white space on the right side on some mobile screens */
html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 7rem;
  height: auto;
}

h1,
h2,
h3,
p,
label {
  color: #5e6472;
  font-family: "Open-sans", sans-serif;
}

/*navbar*/
nav {
  background-color: #faf3dd;
  height: 4rem;
}

.nav-item {
  color: #5e6472;
  font-family: "Open-sans", sans-serif;
  white-space: nowrap;
}

.nav-item:hover {
  color: #323438;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-nav {
  background-color: #faf3dd;
  width: 40vw;
  padding-left: 5px;
  border-radius: 10px;
}

/* hero*/
.hero-container {
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 10rem;
}

.hero-img {
  position: absolute;
  height: auto;
  width: 100%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.hero-small {
  position: absolute;
  height: 120%;
  width: auto;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* About us*/
.about-us {
  padding-top: 10rem;
}

.about-us-text {
  margin: auto;
  max-width: 400px;
}

.aboutText {
  opacity: 0;
  transition: 0.5s all ease-in;
}

.about-us-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.about-us-img {
  position: absolute;
  height: auto;
  width: 100%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* The ice cream */
.ice-cream {
  padding-top: 10rem;
}

.ice-cream-container {
  background-color: #faf3dd;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.ice-cream-image {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ice-cream-text {
  margin: auto;
  max-width: 400px;
}

.iceCreamText {
  opacity: 0;
  transition: 0.5s all ease-in;
}

.animation {
  opacity: 1;
}

/* Our flavours */
.our-flavours {
  padding-top: 10rem;
}

.flavours-heading {
  margin-bottom: 2rem;
}

.flavours {
  text-align: center;
  margin: auto;
}

.flavour-item {
  width: 150px;
  height: 150px;
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
}

.flavour-img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* our locations */
.locations {
  padding-top: 10rem;
  margin-bottom: 2rem;
}

.location-button {
  width: 150px;
  height: 50px;
  background-color: #aed9e0;
  color: #5e6472;
  font-family: "Open-sans", sans-serif;
  font-weight: 600;
  border: 2px;
  margin-bottom: 1rem;
}

.location-button:hover {
  color: #323438;
  background-color: #a4dae2;
}

#map {
  width: 100%;
  height: 50vh;
  margin-bottom: 2rem;
}

.opening-hours-text {
  margin-top: auto;
  margin-bottom: auto;
}

.opening-hours-text p {
  font-size: 18px;
  line-height: 50px;
}

/* Contact */
.contact {
  padding-top: 10rem;
}

label {
  color: #5e6472;
}

.form-button {
  background-color: #ffa69e;
  color: #5e6472;
  font-family: "Open-sans", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-button:hover {
  color: #323438;
  background-color: #ff9d94;
}

#modal-background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

#modal {
  position: fixed;
  height: 40vh;
  width: 90vw;
  background-color: #faf3dd;
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  padding-top: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modal-button {
  width: 150px;
  height: 50px;
  background-color: #aed9e0;
  color: #5e6472;
  font-family: "Open-sans", sans-serif;
  font-weight: 600;
  border: 2px;
  margin-top: 1rem;
}

/* Footer */
footer {
  height: 10rem;
  background-color: #faf3dd;
  margin-top: 10rem;
}

.footer-logo {
  padding-top: 2rem;
  height: 75px;
  width: auto;
}

.social {
  color: #5e6472;
  font-size: 50px;
  padding: 2rem 1rem 0 1rem;
}

.social:hover {
  color: #323438;
}

/*404 page*/
.content-404 {
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.button-404 {
  margin-top: 1rem;
  padding-left: 1rem;
}

/* Media queries */

/*heroimage*/
@media (max-width: 720px) {
  .hero-container {
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
  }
}

@media (max-width: 720px) {
  .hero-img {
    display: none;
  }
}

@media (min-width: 720px) {
  .hero-small {
    display: none;
  }
}

/* the ice cream */
@media (max-width: 720px) {
  .ice-cream-image {
    display: none;
  }
}

@media (min-width: 720px) {
  .ice-cream-image-small {
    display: none;
  }
}

/* our locations */
@media (max-width: 540px) {
  .location-button {
    width: 100px;
    height: 50px;
    font-size: 70%;
    text-align: center;
  }
}

/* modal */
@media (min-width: 720px) {
  #modal {
    max-width: 50%;
    max-height: 30%;
  }
}

/* social icons */
@media (max-width: 720px) {
  .social {
    padding: 1rem;
  }
}
